<div class="iq-sidebar sidebar-default">
  <div class="iq-sidebar-logo d-flex align-items-end justify-content-between">
    <a href="../backend/index.html" class="header-logo">
      <img
        src="../assets/images/logo.png"
        class="img-fluid rounded-normal light-logo"
        alt="logo"
      />
      <img
        src="../assets/images/logo-dark.png"
        class="img-fluid rounded-normal d-none sidebar-light-img"
        alt="logo"
      />
      <span>Datum</span>
    </a>
    <div class="side-menu-bt-sidebar-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="text-light wrapper-menu"
        width="30"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </div>
  </div>
  <div class="data-scrollbar" data-scroll="1">
    <nav class="iq-sidebar-menu">
      <ul id="iq-sidebar-toggle" class="side-menu">
        <li class="active sidebar-layout">
          <a routerLink="/" class="svg-icon">
            <i class="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                />
              </svg>
            </i>
            <span class="ml-2">Dashboard</span>
            <p class="mb-0 w-10 badge badge-pill badge-primary">6</p>
          </a>
        </li>
        <li class="px-3 pt-3 pb-2">
          <span class="text-uppercase small font-weight-bold">Pages</span>
        </li>
        <li class="sidebar-layout">
          <a href="../app/user-profile.html" class="svg-icon">
            <i class="">
              <svg
                class="svg-icon"
                id="iq-user-1-1"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg> </i
            ><span class="ml-2">User Profile</span>
          </a>
        </li>
        <li class="sidebar-layout">
          <a
            href="#app1"
            class="collapsed svg-icon"
            data-toggle="collapse"
            aria-expanded="false"
          >
            <i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
                />
              </svg>
            </i>
            <span class="ml-2">Menu</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="svg-icon iq-arrow-right arrow-active"
              width="15"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              />
            </svg>
          </a>
          <ul
            id="app1"
            class="submenu collapse"
            data-parent="#iq-sidebar-toggle"
          >
            <li class="sidebar-layout">
              <a routerLink="menu-list" class="svg-icon">
                <i class=""
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4"
                    />
                  </svg> </i
                ><span class="">Voir</span>
              </a>
            </li>
            <li class="sidebar-layout">
              <a routerLink="/menu-add" class="svg-icon">
                <i class="">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4"
                    />
                  </svg> </i
                ><span class="">Créer</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="sidebar-layout">
          <a
            href="#app6"
            class="collapsed svg-icon"
            data-toggle="collapse"
            aria-expanded="false"
          >
            <i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                />
              </svg>
            </i>
            <span class="ml-2">Unités</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="svg-icon iq-arrow-right arrow-active"
              width="15"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              />
            </svg>
          </a>
          <ul
            id="app6"
            class="submenu collapse"
            data-parent="#iq-sidebar-toggle"
          >
            <li class="sidebar-layout">
              <a routerLink="/unite" class="svg-icon">
                <i class="">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                </i>
                <span class="ml-2">Liste des Unités</span>
              </a>
            </li>
            <li class="sidebar-layout">
              <a routerLink="/unite-new" class="svg-icon">
                <i class="">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M18.364 5.636a9 9 0 010 12.728m0 0l-2.829-2.829m2.829 2.829L21 21M15.536 8.464a5 5 0 010 7.072m0 0l-2.829-2.829m-4.243 2.829a4.978 4.978 0 01-1.414-2.83m-1.414 5.658a9 9 0 01-2.167-9.238m7.824 2.167a1 1 0 111.414 1.414m-1.414-1.414L3 3m8.293 8.293l1.414 1.414"
                    />
                  </svg>
                </i>
                <span class="ml-2">Ajouter</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="sidebar-layout">
          <a
            href="#app2"
            class="collapsed svg-icon"
            data-toggle="collapse"
            aria-expanded="false"
          >
            <i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                />
              </svg>
            </i>
            <span class="ml-2">Denrées</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="svg-icon iq-arrow-right arrow-active"
              width="15"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              />
            </svg>
          </a>
          <ul
            id="app2"
            class="submenu collapse"
            data-parent="#iq-sidebar-toggle"
          >
            <li class="sidebar-layout">
              <a routerLink="/denree-list" class="svg-icon">
                <i class="">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                </i>
                <span class="ml-2">Liste des Denrées</span>
              </a>
            </li>
            <li class="sidebar-layout">
              <a routerLink="/denree-add" class="svg-icon">
                <i class="">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M18.364 5.636a9 9 0 010 12.728m0 0l-2.829-2.829m2.829 2.829L21 21M15.536 8.464a5 5 0 010 7.072m0 0l-2.829-2.829m-4.243 2.829a4.978 4.978 0 01-1.414-2.83m-1.414 5.658a9 9 0 01-2.167-9.238m7.824 2.167a1 1 0 111.414 1.414m-1.414-1.414L3 3m8.293 8.293l1.414 1.414"
                    />
                  </svg>
                </i>
                <span class="ml-2">Ajouter</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="sidebar-layout">
          <a
            href="#app7"
            class="collapsed svg-icon"
            data-toggle="collapse"
            aria-expanded="false"
          >
            <i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                />
              </svg>
            </i>
            <span class="ml-2">Recettes</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="svg-icon iq-arrow-right arrow-active"
              width="15"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              />
            </svg>
          </a>
          <ul
            id="app7"
            class="submenu collapse"
            data-parent="#iq-sidebar-toggle"
          >
            <li class="sidebar-layout">
              <a routerLink="/recette-list" class="svg-icon" routerLinkActive="active">
                <i class="">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                </i>
                <span class="ml-2">Liste</span>
              </a>
            </li>
            <li class="sidebar-layout">
              <a routerLink="/recette-new" class="svg-icon" routerLinkActive="active">
                <i class="">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M18.364 5.636a9 9 0 010 12.728m0 0l-2.829-2.829m2.829 2.829L21 21M15.536 8.464a5 5 0 010 7.072m0 0l-2.829-2.829m-4.243 2.829a4.978 4.978 0 01-1.414-2.83m-1.414 5.658a9 9 0 01-2.167-9.238m7.824 2.167a1 1 0 111.414 1.414m-1.414-1.414L3 3m8.293 8.293l1.414 1.414"
                    />
                  </svg>
                </i>
                <span class="ml-2">Ajouter</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="pt-5 pb-5"></div>
  </div>
</div>
<router-outlet></router-outlet>