<div class="card card-block card-stretch card-height">
  <div class="card-header d-flex justify-content-between">
    <div class="header-title">
      <h4 class="card-title">Divers</h4>
    </div>
    <div class="card-header-toolbar d-flex align-items-center">
      <div class="dropdown">
        <a
          href="#"
          class="text-muted pl-3"
          id="dropdownMenuButton-event"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            stroke="currentColor"
            stroke-width="2"
            aria-hidden="true"
            focusable="false"
            style="
              -ms-transform: rotate(360deg);
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
            "
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <g
              fill="none"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="12" cy="12" r="1"></circle>
              <circle cx="19" cy="12" r="1"></circle>
              <circle cx="5" cy="12" r="1"></circle>
            </g>
          </svg>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-event">
          <a class="dropdown-item" (click)="newDivers()">
            <svg
              class="svg-icon text-secondary"
              width="20"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
              ></path>
            </svg>
            Ajouter
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-spacing mb-0">
        <tbody>
          <ng-container *ngIf="divers.length == 0; else diversList">
            <tr>
              <td><h6>Liste vide</h6></td>
            </tr>
          </ng-container>
          <ng-template #diversList>
            <tr class="white-space-no-wrap" *ngFor="let item of divers">
              <td>
                <h6 class="mb-0 text-uppercase text-secondary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="pr-2"
                    width="30"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                    />
                  </svg>
                  {{ item.montant | numberWithSpaces }} FCFA
                </h6>
              </td>
              <td class="pl-0 py-3">{{ item.libelle }}</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
    <div
      class="d-flex justify-content-end align-items-center border-top-table p-3"
    >
      <button class="btn btn-primary btn-sm" (click)="goToList()">Liste</button>
    </div>
  </div>
</div>
