<div class="content-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div class="header-title">
              <h4 class="card-title">Rapport du {{formatDate(consoReport)}}</h4>
            </div>
            <div class="header-action">
              <button
                type="button"
                class="btn btn-link btn-with-icon"
                style="cursor: pointer"
                (click)="goBack()"
              >
                <i data-toggle="collapse" data-target="#list-group-2">
                  <svg
                    width="30"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"
                    />
                  </svg>
                </i>
              </button>
            </div>
          </div>
          <div class="card-body overflow-scroll">
            <table class="table ">
              <thead class="thead-light">
                <tr>
                    <th scope="col">Unités</th>
                    <th scope="col">Matin</th>
                    <th scope="col">Midi</th>
                    <th scope="col">Soir</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let report of consoReport.report">
                    <td>{{getUniteName(report.unite)}}</td>
                    <td>{{report.petit_dejeuner}}</td>
                    <td>{{report.dejeuner}}</td>
                    <td>{{report.diner}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
